.quiz-container {
    width: 80%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.quiz-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quiz-logo > img {
    max-width: fit-content;
    width: 90%;
}

.quiz-logo > h3 {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.quiz-questions {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #4224d9;
    border-radius: 8px;
    background-color: #644ED2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.quiz-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 24px;
}

.btn-options {
    background-color: transparent;
    color: #FFFFFF;
    width: 47%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 16px 31px;
    margin: 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;    
    border-radius: 8px;
    border: 1px solid #18AB29;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2F6627;
    cursor: pointer;
}

.btn-options:hover {
    background-color: #5CBF2A;
}

.btn-options:active {  
    position: relative;
    top: 1px;
}

.quiz-results {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #1F0539;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.quiz-results > p {
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
}

.button-link > a {
    text-decoration: none;
    outline: none;
}

.button-link {
    max-width: fit-content;
    width: 100px;
    margin: auto ;
    display: block;
    padding: 12px 16px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.button-link:hover {
    background-color: #3e8e41
}
